.btn {
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 140px;
    min-width: 80px;
    font-family: 'IM Fell DW Pica', serif;
}