.btnGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.successMessageBlock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: burlywood;
  color: rgb(5, 147, 5);
  padding: 10px;
  width: 60%;
  min-width: 260px;
  border-radius: 12px;

  .successMessage {
    font-size: 46px;
    font-weight: 600;
    word-wrap: break-word;
  }
}