.header {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cart {
    padding: 3px;
    background-color: white;
    color: black;
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

.nav-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    font-family: 'Old Standard TT', serif;
}

.nav-item {
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    margin-right: 3%;
}

.logo {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

.logo2 {
    display: block;
    padding-left: 70%;
}

.star {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}