.container {
    max-width: 95vw;
    overflow: auto;
    margin: 0 auto;
}

.table {
    max-width: 700px;
    padding: 10px;
    border-collapse: collapse;
    margin: 10px auto;
    text-align: center;
    border: 2px solid white;
    font-size: 14px;
    &Cell {
        border: 1px solid white;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 40px;
    }
}

.x {
    font-size: 42px;
    cursor: pointer;
    color: white;
    margin-bottom: 7px;
}